
    
    <!-- Start navbar -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">GEC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#counselor">Counselor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#searchcounselling">Search Counselling</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Sign up</a>
                </li>
              </ul>
            </div>
          </nav> 
    </div>
    <!-- End navbar -->
    <!-- Start Counselor -->
    <div class="container">
        <section id="counselor">
            <h1 class="text-center mb-5">Counselor</h1>
            <div class="card-deck">
                <div class="card text-center">
                  <img class="card-img-top" src="img/counselor.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Md Al Amin</h5>
                    <p>Counselor</p>
                    <h6 class="text-info">Educational Counselling</h6>
                    <a href="#" class="text-secondary">Generic education council</a>
                  </div>
                  <div class="card-footer">
                    <a href=""  type="button" class="btn btn-primary button-color">Get Council</a>
                  </div>
                </div>
                <div class="card text-center">
                  <img class="card-img-top" src="img/counselor.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Md Al Amin</h5>
                    <p>Counselor</p>
                    <h6 class="text-info">Educational Counselling</h6>
                    <a href="#" class="text-secondary">Generic education council</a>
                  </div>
                  <div class="card-footer">
                    <a href=""  type="button" class="btn btn-primary button-color">Get Council</a>
                  </div>
                </div>
                <div class="card text-center">
                  <img class="card-img-top" src="img/counselor.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Md Al Amin</h5>
                    <p>Counselor</p>
                    <h6 class="text-info">Educational Counselling</h6>
                    <a href="#" class="text-secondary">Generic education council</a>
                  </div>
                  <div class="card-footer">
                    <a href=""  type="button" class="btn btn-primary button-color">Get Council</a>
                  </div>
                </div>
              </div>
              <div class="card-deck">
                <div class="card text-center">
                  <img class="card-img-top" src="img/counselor.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Md Al Amin</h5>
                    <p>Counselor</p>
                    <h6 class="text-info">Educational Counselling</h6>
                    <a href="#" class="text-secondary">Generic education council</a>
                  </div>
                  <div class="card-footer">
                    <a href=""  type="button" class="btn btn-primary button-color">Get Council</a>
                  </div>
                </div>
                <div class="card text-center">
                  <img class="card-img-top" src="img/counselor.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Md Al Amin</h5>
                    <p>Counselor</p>
                    <h6 class="text-info">Student Selection and Placement</h6>
                    <a href="#" class="text-secondary">Generic education council</a>
                  </div>
                  <div class="card-footer">
                    <a href=""  type="button" class="btn btn-primary button-color">Get Council</a>
                  </div>
                </div>
                <div class="card text-center">
                  <img class="card-img-top" src="img/counselor.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Md Al Amin</h5>
                    <p>Counselor</p>
                    <h6 class="text-info">Educational Counselling</h6>
                    <a href="#" class="text-secondary">Generic education council</a>
                  </div>
                  <div class="card-footer">
                    <a href=""  type="button" class="btn btn-primary button-color">Get Council</a>
                  </div>
                </div>
              </div>
          </section>
    </div>
    <!-- End Counselor -->
    <!-- Start Search Counselling -->
    <div class="container">
      <section id="searchcounselling">
            <h1 class="text-center mb-5">Search Counselling</h1>
            <div class="d-flex justify-content-center">
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Counselling" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div id="search-result">
                <div class="card mb-2">
                    <h5 class="card-header">Md. Al Amin</h5>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-9">
                                <p>Counselor</p>
                                <h5 class="card-title text-info">Educational Counselling</h5>
                                <a href="#" class="card-text text-secondary">Generic education council</a>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-between">
                                <a href="#" type="button" class="btn btn-info px-4 ">profile</a>
                                <a href="#" type="button" class="btn btn-warning px-4 ">request</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <h5 class="card-header">Md. Al Amin</h5>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-9">
                                <p>Counselor</p>
                                <h5 class="card-title text-info">Educational Counselling</h5>
                                <a href="#" class="card-text text-secondary">Generic education council</a>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-between">
                                <a href="#" type="button" class="btn btn-info px-4 ">profile</a>
                                <a href="#" type="button" class="btn btn-warning px-4 ">request</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <h5 class="card-header">Md. Al Amin</h5>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-9">
                                <p>Counselor</p>
                                <h5 class="card-title text-info">Educational Counselling</h5>
                                <a href="#" class="card-text text-secondary">Generic education council</a>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-between">
                                <a href="#" type="button" class="btn btn-info px-4 ">profile</a>
                                <a href="#" type="button" class="btn btn-warning px-4 ">request</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <h5 class="card-header">Md. Al Amin</h5>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-9">
                                <p>Counselor</p>
                                <h5 class="card-title text-info">Educational Counselling</h5>
                                <a href="#" class="card-text text-secondary">Generic education council</a>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-between">
                                <a href="#" type="button" class="btn btn-info px-4 ">profile</a>
                                <a href="#" type="button" class="btn btn-warning px-4 ">request</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <h5 class="card-header">Md. Al Amin</h5>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-9">
                                <p>Counselor</p>
                                <h5 class="card-title text-info">Educational Counselling</h5>
                                <a href="#" class="card-text text-secondary">Generic education council</a>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-between">
                                <a href="#" type="button" class="btn btn-info px-4 ">profile</a>
                                <a href="#" type="button" class="btn btn-warning px-4 ">request</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </section>
    </div>
    <!-- End Search Counselling -->
