<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="login.css">

    <title>Sign up</title>
  </head>
  <body>
      <section class="signup-body">
        <div class="container">
            <form class="form">
                <h1 class="mb-5">Sign up</h1>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Fast Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Re-enter Password">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option>Select user type</option>
                        <option>Counselor</option>
                        <option>Client</option>
                    </select>
                </div>
                <div class="form-group d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary px-3 font-weight-bold">Create account</button>
                    <a href="register.html">I'm not registered.</a>
                </div>
            </form>
        </div>
      </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>